# McKinney Chapter 8 - Practice (Blank)

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
%config InlineBackend.figure_format = 'retina'
%precision 4
pd.options.display.float_format = '{:.4f}'.format

In [3]:
import yfinance as yf
import pandas_datareader as pdr
import requests_cache
session = requests_cache.CachedSession(expire_after=1)

## Announcements

## Practice

### Download data from Yahoo! Finance for BAC, C, GS, JPM, MS, and PNC and assign to data frame `stocks`.

In [4]:
tickers = yf.Tickers('BAC C GS HPM MS PNC', session = session)
stocks = tickers.history(period='max', auto_adjust=False)
stocks.index = stocks.index.tz_localize(None)

[*********************100%***********************]  6 of 6 completed

Use `stocks.columns.names` to assign the names `Variable` and `Ticker` to the column multi index.

In [6]:
stocks.columns.names = ['Variable','Ticker']
stocks.head()

Variable   Adj Close                      Close              ... Stock Splits  \
Ticker           BAC   C  GS HPM  MS PNC    BAC   C  GS HPM  ...           GS
Date                                                         ...
1973-02-21    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...          NaN
1973-02-22    1.6366 NaN NaN NaN NaN NaN 4.6406 NaN NaN NaN  ...          NaN
1973-02-23    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...          NaN
1973-02-26    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...          NaN
1973-02-27    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...          NaN

Variable                    Volume
Ticker     HPM  MS PNC         BAC   C  GS HPM  MS PNC
Date
1973-02-21 NaN NaN NaN  99200.0000 NaN NaN NaN NaN NaN
1973-02-22 NaN NaN NaN  47200.0000 NaN NaN NaN NaN NaN
1973-02-23 NaN NaN NaN 133600.0000 NaN NaN NaN NaN NaN
1973-02-26 NaN NaN NaN  24000.0000 NaN NaN NaN NaN NaN
1973-02-27 NaN NaN NaN  41600.0000 NaN NaN NaN NaN NaN

[5 rows x 48 columns]

In [13]:
stocks

Variable   Adj Close                                          Close          \
Ticker           BAC       C       GS HPM       MS      PNC     BAC       C
Date
1973-02-21    1.6311     NaN      NaN NaN      NaN      NaN  4.6250     NaN
1973-02-22    1.6366     NaN      NaN NaN      NaN      NaN  4.6406     NaN
1973-02-23    1.6311     NaN      NaN NaN      NaN      NaN  4.6250     NaN
1973-02-26    1.6311     NaN      NaN NaN      NaN      NaN  4.6250     NaN
1973-02-27    1.6311     NaN      NaN NaN      NaN      NaN  4.6250     NaN
...              ...     ...      ...  ..      ...      ...     ...     ...
2023-02-09   35.7200 49.9800 367.9900 NaN  98.0500 158.8800 35.7200 49.9800
2023-02-10   35.5800 50.1100 371.2800 NaN  98.4400 159.3400 35.5800 50.1100
2023-02-13   35.6500 51.0000 374.0200 NaN  99.4300 160.9800 35.6500 51.0000
2023-02-14   35.6200 51.6100 371.7800 NaN 100.5600 161.1300 35.6200 51.6100
2023-02-15       NaN     NaN 373.6000 NaN      NaN 160.4800     NaN     NaN

Variable                 ... Stock Splits                          Volume  \
Ticker           GS HPM  ...           GS HPM     MS    PNC           BAC
Date                     ...
1973-02-21      NaN NaN  ...          NaN NaN    NaN    NaN    99200.0000
1973-02-22      NaN NaN  ...          NaN NaN    NaN    NaN    47200.0000
1973-02-23      NaN NaN  ...          NaN NaN    NaN    NaN   133600.0000
1973-02-26      NaN NaN  ...          NaN NaN    NaN    NaN    24000.0000
1973-02-27      NaN NaN  ...          NaN NaN    NaN    NaN    41600.0000
...             ...  ..  ...          ...  ..    ...    ...           ...
2023-02-09 367.9900 NaN  ...       0.0000 NaN 0.0000 0.0000 35257100.0000
2023-02-10 371.2800 NaN  ...       0.0000 NaN 0.0000 0.0000 32890200.0000
2023-02-13 374.0200 NaN  ...       0.0000 NaN 0.0000 0.0000 29163900.0000
2023-02-14 371.7800 NaN  ...       0.0000 NaN 0.0000 0.0000 33625200.0000
2023-02-15 373.6000 NaN  ...       0.0000 NaN    NaN 0.0000           NaN

Variable
Ticker                 C           GS HPM           MS          PNC
Date
1973-02-21           NaN          NaN NaN          NaN          NaN
1973-02-22           NaN          NaN NaN          NaN          NaN
1973-02-23           NaN          NaN NaN          NaN          NaN
1973-02-26           NaN          NaN NaN          NaN          NaN
1973-02-27           NaN          NaN NaN          NaN          NaN
...                  ...          ...  ..          ...          ...
2023-02-09 16794900.0000 2052500.0000 NaN 4983800.0000 1637300.0000
2023-02-10 16517000.0000 1932900.0000 NaN 5224600.0000 1863700.0000
2023-02-13 11626900.0000 1570600.0000 NaN 4910300.0000 1227800.0000
2023-02-14 16283300.0000 2155500.0000 NaN 7679500.0000 1122100.0000
2023-02-15           NaN 1193145.0000 NaN          NaN  896663.0000

[12608 rows x 48 columns]

### Reshape `stocks` from wide to long with dates and tickers as row indexes and assign to data frame `stocks_long`.

### Add daily returns for each stock to data frames `stocks` and `stocks_long`.

Name the returns variable `Returns`, and maintain all multi indexes.
*Hint:* Use `pd.MultiIndex()` to create a multi index for the the wide data frame `stocks`.

In [14]:
_ = pd.MultiIndex.from_product([['Returns'], stocks['Adj Close']])
stocks[_] = stocks['Adj Close'].pct_change()
stocks.head()

Variable   Adj Close                      Close              ... Volume      \
Ticker           BAC   C  GS HPM  MS PNC    BAC   C  GS HPM  ...     GS HPM
Date                                                         ...
1973-02-21    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...    NaN NaN
1973-02-22    1.6366 NaN NaN NaN NaN NaN 4.6406 NaN NaN NaN  ...    NaN NaN
1973-02-23    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...    NaN NaN
1973-02-26    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...    NaN NaN
1973-02-27    1.6311 NaN NaN NaN NaN NaN 4.6250 NaN NaN NaN  ...    NaN NaN

Variable           Returns
Ticker      MS PNC     BAC   C  GS HPM  MS PNC
Date
1973-02-21 NaN NaN     NaN NaN NaN NaN NaN NaN
1973-02-22 NaN NaN  0.0034 NaN NaN NaN NaN NaN
1973-02-23 NaN NaN -0.0034 NaN NaN NaN NaN NaN
1973-02-26 NaN NaN  0.0000 NaN NaN NaN NaN NaN
1973-02-27 NaN NaN  0.0000 NaN NaN NaN NaN NaN

[5 rows x 54 columns]

In [15]:
stocks_long['Adj Close'].sort_index(level = ['Ticker', 'Date']).pct_change().loc[(

NameError: name 'stocks_long' is not defined

### Download the daily benchmark return factors from Ken French's data library.

### Add the daily benchmark return factors to `stocks` and `stocks_long`.

For the wide data frame `stocks`, use the outer index name `Factors`.

### Write a function `download()` that accepts tickers and returns a wide data frame of returns with the daily benchmark return factors.

### Download earnings per share for the stocks in `stocks` and combine to a long data frame `earnings`.

Use the `.earnings_dates()` method described [here](https://pypi.org/project/yfinance/).
Use `pd.concat()` to combine the result of each `.earnings_date()` call and assign to data frame `earnings`.
Name the row indexes `Ticker` and `Date` and swap to match the order of the row index in `stocks_long`.

### Combine add `earnings` to `stocks_long`.

Use the `tz_convert('US/Eastern')` method add time zone information back to `stocks_long.index` and use `pd.to_timedelta(16, units='h')` to set time to the market close in New York City.
Use [`pd.merge_asof()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html) to match earnings announcement dates and times to appropriate return periods.
For example, if a firm announces earnings after the close at 5 PM on February 7, we want to match the return period from 4 PM on February 7 to 4 PM on February 8.

### Plot the relation between daily returns and earnings surprises

Three options in increasing difficulty:

1. Scatter plot
1. Scatter plot with a best-fit line using `regplot()` from the seaborn package
1. Bar plot using `barplot()` from the seaborn package after using `pd.qcut()` to form five groups on earnings surprises